body {
	color: darkcyan;
}
.wrapper {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	background: white;
	border: 1px solid ghostwhite; 
}
.indent {
	height: 50px;
	background: goldenrod;

}
.info {
	margin-right: 200px;
}
.flex {
	display: flex;
	justify-content: space-around; 
	align-items:center;
}
.img-style {
    border-radius: 14px; 
    border: 2px solid gold;
   }
   main div {
   	width: 93%;
   	margin: 0 auto;
   }
   main p {
   	margin-left: 10px;
   }
   